html {
	box-sizing: border-box;
}

.game-body {
	display: inline-block;
	position: relative;
}

.game-body__header {
	display: flex;
	justify-content: space-between;
	height: 80px;
	background: transparent;
	width: 100%;
	position: absolute;
}

#notification {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	font-size: 25px;
	color: #ffffff;
}

.game-body__header__left,
.game-body__header__right {
	border: 1px solid #ffffff;
	height: 70px;
	width: 45%;
	background-color: red;
	position: relative;
}

.game-body__header__left .hp,
.game-body__header__right .hp {
	content: '';
	background-color: #60A5FA;
	width: 100%;
	position: absolute;
	height: 68px;

}

.game-body__header__right .hp {
	left: 0;
}

.game-body__header__left .hp {
	right: 0;
}

.game-body__header__left {}

.game-body__header__center {
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: #ffffff;
}